.tag-list {
  background-color: var(--gray-200);
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(.5 * var(--body-line-height));
  padding: 0;
  a, button {
    background-color: var(--gray-200);
    border: 1px solid var(--gray-200);
    border-radius: 4px;
    color: var(--body-color);
    flex-grow: .01;
    font-size: var(--body-font-size);//var(--body-font-size);
    font-variant-numeric: oldstyle-nums;
    margin: 1% 2% 1% 0;
    padding: .25em .75em .25em .55em;
    text-decoration: none;
  }
  a:hover {
    background-color: var(--gray-000);
  }
}
